
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Raczum - Cognize</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Raczum Cognize">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Raczum - Cognize</h1>
    </header>

    <main>
      <form action="/detectarlabels" method="post" enctype="multipart/form-data">
	      <input type="file" id="myfile" name="myfile"/>
	      <button type="submit">Enviar imagem para analise de labels</button>
      </form>
      
      <hr />
      <br />
      <form action="/videoLabel" method="post">
	      <input type="text" id="video_label" name="video_label"/>
	      <button type="submit">Analise de Video</button>
      </form>
      
      <br />
      <form action="/getVideoLabel" method="post">
	      <input type="text" id="job_id_label" name="job_id_label"/>
	      <button type="submit">Recuperar analise de labels em video</button>
      </form>
      
    </main>

    <footer>Written by <a href="https://www.linkedin.com/in/douglasdaniel/">Douglas</a>!</footer>

  </body>
</html>
